.clients__title {
    text-align: center;
    margin-bottom: 50px;
    @include font ($primary-text-family,normal,700,36px,1.15,0.03em,$primary-text-color);
}
.clients__list {
    margin: 0;
    padding: 0;
    display: flex;
}
.clients__item {
    display: flex;
    margin-right: 30px;
    &:nth-child(6n) {
        margin-right: 0;
    }
}
.clients__link {
    width: 170px;
    height: 92px;
    border: 1px solid $item-icon-clients;
    box-sizing: border-box;
    border-radius: 4px;
    fill: $item-icon-clients;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: fill $time $durarion, 
    border $time $durarion;
    &:hover {
        fill: $accent-color;
        border: 1px solid $accent-color;
        box-sizing: border-box;
        border-radius: 4px;
    }
}