.footer-form-field {
    display: flex;
}
.footer-form-field__input {
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    width: 358px;
    height: 50px;
    padding: 15px 15px;
    background-color: transparent;
    color: $title-text-color;
    margin-right: 12px;
    &::placeholder {
        font-size: 16px;
        line-height: 1.25;
        color: rgba(255, 255, 255, 0.6);
    }
}
.footer-form-field_button--padding {
    padding: 10px 29px;
    align-items: center;
    display: flex;
}
.footer-form-button__icon {
    font-weight: bold;
    line-height: 1.85;
    letter-spacing: 0.06em;
    color: $title-text-color;
    cursor: pointer;
    margin-left: 10px;
}