.footer-form {
    margin-left: 93px;
}
.footer-form__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    text-transform: uppercase;
    color: $title-text-color;
    margin-bottom: 20px;
    }