.logo__text--blue-color {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.20;
    color: #2196F3;
    display: inline-block;
}
.logo__text--black-color {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.20;
    color: #212121;
    display: inline-block;
}