.modal-form {
    margin-left: auto;
    margin-right: auto;
    padding: 40px 40px;
}
.modal-form__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: $primary-text-color;
    margin-bottom: 12px;
}