.modal-form-checkbox {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}
.modal-form-checkbox__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    &:checked + .modal-form-checkbox__label::before {
        border-color: $accent-color;
        background-color: $accent-color;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 42 32'%3e%3cpath fill='%23fff' d='M6.263 15.205l-0.22-0.21-3.307 3.132 11.651 11.114 24.477-23.351-3.285-3.134-21.192 20.197-8.124-7.75z'/%3e%3c/svg%3e");
        background-size: contain;
        background-origin: border-box;
    }
}
.modal-form-checkbox__label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    font-size: 14px;
    line-height: 1.71;
    color: $subtitle-text-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &::before {
        content: '';
        display: inline-block;
        width: 16px;
        height: 15px;
        flex-shrink: 0;
        flex-grow: 0;
        border: 2px solid $primary-text-color;
        border-radius: 2px;
        margin-right: 8px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
    }
    .modal-form-checkbox__input:checked + &  {
        color: $primary-text-color;
    }
}
.modal-form-checkbox__link {
    font-size: 14px;
    line-height: 1.70;
    text-decoration-line: underline;
    color: $accent-color;
    display: inline;
}