.modal-form {
    margin-left: auto;
    margin-right: auto;
    padding: 40px 40px;
}
.modal-form__title {
    text-align: center;
    @include font ($primary-text-family,normal,700,20px,1.15,0.03em,$primary-text-color);
    margin-bottom: 12px;
}