.work-section {
    padding-top: 0;
}
.work__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.15;
    text-align: center;
    margin-bottom: 50px;
}
.work__list {
    display: flex;
}
.work__item {
    margin-right: 30px;
    &:nth-child(3n) {
        margin-right: 0;
    }
}
.work__img {
    position: relative;
}
.work__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $title-text-color;
    background-color: rgba(47, 48, 58, 0.8);
    width: 370px;
    height: 70px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}