.work-team-section {
    background-color: $background-color-team;
}
.work-team__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.15;
    @include font ($primary-text-family,normal,700,36px,1.15,0.03em,$primary-text-color);

    text-align: center;
    margin-bottom: 50px;
}
.work-team__list {
    display: flex;
}
.work-team__item {
    background: $title-text-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-right: 30px;
    &:nth-child(4n) {
        margin-right: 0;
    }
}
.work-team__card {
    padding: 30px 32px;
}
.work-team__subtitle {
    @include font ($primary-text-family,normal,500,16px,1.20,0.03em,$primary-text-color);
    text-align: center;
    margin-bottom: 10px;
}
.work-team__text {
    text-align: center;
    @include font ($primary-text-family,normal,400,16px,1.20,0.03em,$subtitle-text-color);
    margin-bottom: 16px;
}