body {
    margin: 0px;
    background-color: $title-text-color;
    font-family: $primary-text-family;
    color: $primary-text-color;
    letter-spacing: 0.03em;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
}
