$primary-text-color: #212121;
$title-text-color: #FFFFFF;
$accent-color: #2196F3;
$subtitle-text-color: #757575;
$background-color: #2F303A;
$background-color-team: #F5F4FA;
$contacts-acent-footer: rgba(255, 255, 255, 0.6);
$card-portfolio: #EEEEEE;
$background-hero-button-hover: #188CE8;
$item-icon-clients: #AFB1B8;
$primary-text-family: Roboto, sansans-serif;
$subprimary-text-family: Raleway, sansans-serif;
